body{
    margin: 0px;
    font-family: "Open Sans";

}
ul,li{
    display: block;
}
.container{
    width: 1381px;
    margin: 0 auto;
}

.header{
    background: url("../images/img1blurred.jpg") no-repeat  top / cover ;
}

header a{
    color: #ffff;
}
.menu{
    display: flex;
    margin-top: 25px;
    margin-left: auto;
    letter-spacing: 0.09em;
}
.menu li a{
    text-decoration: none;
    font-size: 24px;

}
.menu li{
    margin-right: 51px;
}
.nav{
    padding-top: 18px;
    display: flex;
}
.mainContent{
    width: 619px;
    height: 454px;
    padding-top: 227px;
    padding-bottom: 356px;

}
.mainContent li a{
}
.mainContent h1{
    font-size: 72px;
    font-weight: bold;
    color: #ffff;
}
.mainContent h2{
    font-size: 45px;
    color: #ffff;
}
.border{
    height: 12px;
    background: #353535 no-repeat  top / cover;
}

.about{
    margin: 0px;
    background: radial-gradient(137.79% 343.18% at 0% -1.39%, #740608 0%, #0B0B0D 100%);
}
.about h1{
    margin: 0px;
    padding-top: 24px;
    padding-left: 542px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 64px;
}
