body {
    color: white;
    margin: 0px;
    padding: 0px;
    background: rgb(175,35,35);; /* Все браузеры*/
    background: -moz-linear-gradient(left,  rgba(175,35,35,1)0%, rgba(43,3,3,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(175,35,35,1)0%, rgba(43,3,3,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(175,35,35,1)0%, rgba(43,3,3,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131c27', endColorstr='#412513',GradientType=1 ); /* IE6-9 */
}