body {
    padding: 0px;
    margin: 0px;
    color: white;
    background: url('../../img/backgroundGame.jpg') no-repeat top center / cover;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}


.menu {
    top: -50px;
    margin-left: 1200px;
    position: relative;
    margin-right: 75px;
    margin-top: 40px;
    display: flex;
}

.main {
    font-family: "Open Sans";
    color: white;
    text-decoration: none;
    padding-left: 40px;
    font-size: 15px;
}

.logo {
    width: 40px;
    height: 40px;
    top: 10px;
    padding: 0px;
    margin-left: 200px;
    position: relative;
}

.form-search {
    margin-left: 150px;
    display: inline-block;
    border-bottom: 1px solid;
    position: relative;
    top: -5px;
}
.form-search input {
    all: unset;
}

.information {
    margin-top: 100px;
    margin-left: 400px;
}

.mainImg {
    width: 400px;
    height: 400px;
}

.titleGame {
    font-size: 72px;
    margin-left: 500px;
    top: -350px;
    position: relative;
}

.description {
    margin-left: 900px;
    font-size: 50px;
    top: -290px;
    position: relative;
}


.mainDescription {
    margin-left: 320px;
    font-size: 30px;
    top: -290px;
    position: relative;
}

.titleGalary {
    margin-left: 600px;
    font-size: 30px;
    top: -130px;
    position: relative;
}

.galary {
    display: flex;
    flex-wrap: wrap;
}

.galary > div {
    width: 200px;
    height: 50px;
}

.imgGalary {
    width: 100px;
    height: 50px;
}
