body {
    padding: 0px;
    margin: 0px;
    color: white;
    background: url('../../img/263487 (1).jpg') no-repeat top center / cover;

}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}


.menu {
    top: -50px;
    margin-left: 1200px;
    position: relative;
    margin-right: 20px;
    margin-top: 40px;
    display: flex;
}

.main {
    font-family: "Open Sans";
    color: white;
    text-decoration: none;
    padding-left: 40px;
    font-size: 15px;
}

.logo {
    width: 40px;
    height: 40px;
    top: 10px;
    padding: 0px;
    margin-left: 200px;
    position: relative;
}

.form-search {
    margin-left: 150px;
    display: inline-block;
    border-bottom: 1px solid;
    position: relative;
    top: -5px;
}
.form-search input {
    all: unset;
}

.information {
    margin-top: 100px;
    margin-left: 400px;
}

.mainImg {
    width: 500px;
    height: 500px;
}

.titleGame {
    font-size: 72px;
    margin-left: 400px;
    top: -350px;
    position: relative;
}

.description {
    margin-left: 900px;
    font-size: 50px;
    top: -290px;
    position: relative;
}


.mainDescription {
    margin-left: 320px;
    font-size: 30px;
    top: -290px;
    position: relative;
}

.titleGalary {
    margin-left: 500px;
    top: -130px;
    font-family: "Open Sans";
    color: white;
    text-decoration: none;

    font-size: 47px;
}

.game{
    width: 500px;
    height: 500px;
    margin-right: 50px;
    margin-bottom: 50px;
}
.container2{
    margin-top: 200px;
    width: 1920px;
    display: flex;
    flex-wrap: wrap;
}
.img{
    margin-left: 200px ;
    width: 500px;
    height: 500px;
}
.video{
    margin-left: 210px;
    margin-bottom: 100px;
}
.nameOfVideo{
    font-family: "Open Sans";
    color: white;
    text-decoration: none;
    margin-left: 42%;
    font-size: 47px;
}
